@{
    ViewData["Title"] = "ScanX - AI PDF Note-Taking";
}

<div class="container text-center mt-5">
    <h1><span class="fw-bold">Simplify <span class="text-danger">PDF</span> <span class="text-primary">Note</span>-Taking</span></h1>
    <h2 class="fw-light">with AI-Powered</h2>
    <p class="lead">Elevate your note-taking experience with our AI-powered PDF app. Seamlessly extract key insights, summaries, and annotations from any PDF with just a few clicks.</p>

    <div class="mt-4">
        <a asp-controller="Account" asp-action="Signup">Sign Up</a>
        <a href="#" class="btn btn-light btn-lg border">Learn More</a>
    </div>
</div>
